<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="%ROOTDIR%" />
        <add key="DJANGO_SETTINGS_MODULE" value="core.settings" />
     
        
    </appSettings> -->
    <system.webServer>
        <handlers>
            <add name="subsidios_sglp" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Sistemas\subsidios_sglp\env\Scripts\python.exe|C:\Sistemas\subsidios_sglp\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
